dn: o=OpenAM-Session
objectClass: organization
objectClass: top
o: OpenAM-Session

dn: ou=famrecords,o=OpenAM-Session
ou: famrecords
objectClass: organizationalUnit

dn: ou=amsessiondb,o=OpenAM-Session
ou: amsessiondb
objectClass: organizationalUnit

